<div class="container">
  <div *ngIf="showCategories">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Categorías</li>
    </ol>
  </nav>
  <div  class="card-columns">
    <div class="card" *ngFor="let category of categories">
      <card3 [category]= "category" (click)="getSubcategories(category.categoryId, category.categoryName)"></card3>
    </div>
  </div>
</div>

<div *ngIf="showSubcategories">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a role="button" (click)="onClickBreadCrumb1()"><u>Categorias</u></a></li>
      <li class="breadcrumb-item active">{{categoryName}}</li>
    </ol>
  </nav>
  <div  class="card-columns">
    <div class="card"*ngFor="let sb of subcategories" >
      <card3 [category]= "sb" (click)="getProducts(sb.categoryId, sb.categoryName)"></card3>
    </div>
  </div>
</div>

<div *ngIf="showProducts">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a role="button" (click)="onClickBreadCrumb1()"><u>Categorias</u></a></li>
      <li class="breadcrumb-item"><a role="button" (click)="onClickBreadCrumb2()"><u>{{categoryName}}</u></a></li>
      <li class="breadcrumb-item active" aria-current="page">{{subcategoryName}}</li>
    </ol>
  </nav>
  <div  class="card-columns">
    <div class="card"*ngFor="let product of products">
     <card [product] ="product" (click)="getProduct(product)"></card>
      </div>
    </div>
</div>
<!-- aca se imprime el producto terminado -->

<div *ngIf="showProduct">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a role="button" (click)="onClickBreadCrumb1()"><u>Categorias</u></a></li>
      <li class="breadcrumb-item"><a role="button" (click)="onClickBreadCrumb2()"><u>{{categoryName}}</u></a></li>
      <li class="breadcrumb-item"><a role="button" (click)="onClickBreadCrumb3()"><u>{{subcategoryName}}</u></a></li>
      <li class="breadcrumb-item" aria-current="page">{{product.productName}}</li>
    </ol>
  </nav>
  <div *ngIf="product" class="media">
    <img [src]="product.productLogo | notImage" class="mr-3" >
    <div class="media-body">
      <h5 class="mt-0">{{product.productName}}</h5>
      <p>Descripcion: {{product.productDescription}}</p>
      <p>website: <a>{{product.productWebSite}}</a></p>
      <p>compañía: <a>{{company.companyName}}</a></p>
      <p>precio: {{product.productPrice}} {{currency.currencyCode}}</p>
    </div>
  </div>
</div>
</div>

<!-- aca termina -->


<!-- <div  *ngFor="let category of categories" class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active" >
      <input  type="radio" name="options" [id]="category.categoryId"  (click)="getSubcategories(category.categoryId)" checked> {{category.categoryName}}
    </label>
  </div>


<div *ngFor="let sb of subcategories" class="media">
  <img  (click)="getProducts(sb.categoryId)" [src]="sb.categoryLogo | notImage" class="align-self-center mr-3"  height= "70px" width= "70px">
  <div class="media-body">
    <h5 class="mt-0">{{sb.categoryName}}</h5>
    <p class="mb-0"></p>
  </div>
  <div class="dropdown-divider"></div>
  <hr>
</div>


<div>
  <div *ngIf="selected">
    <div class="card-columns">
      <div *ngFor="let product of products">
        <div class="card">
          <img [src]="product.productLogo | notImage" class="card-img-top"  height= "100px" width= "100px">
          <div   class="card-body">
            <h5  class="card-title" >{{product.productName}}</h5>
            <p class="card-text" >{{product.productDescription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="!selected" >
      <div class="card-columns">
        <div *ngFor="let product of allProducts">
          <div class="card">
            <img [src]="product.productLogo | notImage" class="card-img-top"  height= "100px" width= "100px">
            <div   class="card-body">
              <h5  class="card-title" >{{product.productName}}</h5>
              <p class="card-text" >{{product.productDescription}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
