<div  *ngFor="let category of categories" class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active" >
      <input  type="radio" name="options" [id]="category.categoryId"  (click)="getSubcategories(category.categoryId)" checked> {{category.categoryName}}
    </label>
  </div>

<div *ngIf="on">
  <div *ngFor="let sb of subcategories" class="media">
    <img  (click)="getProducts(sb.categoryId)" [src]="sb.categoryLogo | notImage" class="align-self-center mr-3" >
    <div class="media-body">
      <h5 class="mt-0">{{sb.categoryName}}</h5>
      <p class="mb-0"></p>
    </div>
    <div class="dropdown-divider"></div>
    <hr>
  </div>
</div>


<div class="card-columns">
  <div *ngFor="let product of products">
    <div class="card">
      <img [src]="product.productLogo | notImage" class="card-img-top">
      <div   class="card-body">
        <h5  class="card-title" >{{product.productName}}</h5>
        <p class="card-text" >{{product.productDescription}}</p>
      </div>
    </div>
  </div>
</div>