
<div class="main-container">
  <h3>Categorías</h3>
  <div class="row">
  <div class="col-md-5">

      <input type="text" [(ngModel)]="search" name="search" placeholder="Nombre de Categoría" (keyup.enter)="searchCategorie()">
      <button type="button" class="btn btn-sm btn-success "(click)="create()"><i class="fas fa-plus-circle "></i></button>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Categoria Superior</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoryTable of categories" >
            <td>{{categoryTable.categoryName}}</td>
            <td>{{searchfather(categoryTable.parentCategoryId)}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-primary"  (click)="update(categoryTable.categoryId)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(categoryTable.categoryId)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
     </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
<!-- <<<<<<< HEAD

      <form #f="ngForm" (ngSubmit)="submit(f)" >
        <div class="row">
        <div class="col-6">
          <img [src]="category.categoryLogo|notImage">
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="categoryName">Nombre de Subcategoria</label>
            <input required name="nameCategory" [(ngModel)]="category.categoryName" #nameCategory ="ngModel"  placeholder="Nombre de Subcategoría" id="nameCategoty" type="text" class="form-control" >
             <div *ngIf="!nameCategory.valid && nameCategory.touched" class ="alert alert-danger">
               <div *ngIf ="nameCategory.errors.required">Nombre de Categoria es requerido</div>
             </div>
          </div>
          <div class="form-group">
            <label for="selectCategory">Seleccionar Categoria Superior</label>
            <select ngModel name="father" #father="ngModel" id ="selectCategoryFather" class="form-control">
              <option *ngFor="let categories of selectCategory" [value]="category.categoryId">{{category.categoryName}}</option>
            </select>
          </div>
        </div> -->

      <form #f="ngForm" (ngSubmit)="submit(f,name)" >
        <div class="form-group">
          <label for="categoryName">Nombre de Subcategoria</label>
          <input id="name" #name [disabled]="createUpdate" required name="nameCategory" [(ngModel)]="category.categoryName"  placeholder="Nombre de Subcategoría"  type="text" class="form-control" >
          <div *ngIf="createUpdate && f.errors">
            <div *ngIf="!name.valid && name.touched" class ="alert alert-danger">
               <div *ngIf ="name.errors.required">Nombre de Categoria es requerido</div>
             </div>
          </div>
        </div>
        <div class="form-group">
          <label for="selectCategory">Seleccionar Categoria Superior</label>
          <select [disabled]="createUpdate" ngModel name="father" #father="ngModel" id ="selectCategoryFather" class="form-control">
            <option *ngFor="let categoryFather of categoryFather" [value]="categoryFather.categoryId">{{categoryFather.categoryName}}</option>
          </select>
<!-- >>>>>>> 1bc94174e7a580bafd015f60718004a44fcbaf7b -->
        </div>

        <label for="companyLogo">Logo:</label>
        <input [disabled]="createUpdate" #companyLogo="ngModel"  name="companyLogo" type="text"  placeholder="url"[(ngModel)]="category.categoryLogo" class="form-control">
        <button class="btn btn-primary " [disabled]="!f.valid">Sumit</button>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
