<div class="main-container">
  <h3>Empresas</h3>
  <div class="row">

    <div class="col-md-5">
      <input type="text" [(ngModel)]="search" name="search" placeholder="Empresa" (keyup.enter)="searchCompanies()">
      <button type="button" class="btn  btn-sm btn-success" (click)="create()"><i class="fas fa-plus-circle"></i></button>

      <table class="table">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Nombre</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Telefono</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let companyTable of companies">

            <td>{{companyTable.companyName}}</td>
            <td>{{companyTable.companyCity}}</td>
            <td>{{companyTable.companyPhone}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(companyTable.companyId)"><i class="far fa-trash-alt"></i></button>
              <button type="button" class="btn btn-sm btn-primary" (click)="Update(companyTable.companyId)"><i class="far fa-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 center">
      <form #f="ngForm" (ngSubmit)="submit(f)">

        <label for="companyName">Nombre de la compañía:</label>
        <input [disabled]="createUpdate" #name="ngModel"  name="name" type="text"  placeholder="Nombre de la Compañia" [(ngModel)]="company.companyName" class="form-control">

        <div class="row">
          <div class="col-6">
            <label for="companyFoundationDate">Fecha de fundación:</label>
            <input  [disabled]="createUpdate" #FoundationDate="ngModel"  name="FoundationDate" type="date" [(ngModel)]="company.companyFoundationDate" class="form-control" data-date-format="yyyy-MM-dd">

          </div>
          <div class="col-6">
            <label for="companyPhone">Teléfono:</label>
            <input appPhone [disabled]="createUpdate" #companyPhone="ngModel"  name="companyPhone" type="text" [(ngModel)]="company.companyPhone" class="form-control">
          </div>
        </div>
        <div class="row">
        <div class="col-6">
          <label for="companyAddress">Domicilio:</label>
          <input [disabled]="createUpdate" #companyAddress="ngModel"  name="companyAddress" type="text"  placeholder="Calle 1 N° 100" [(ngModel)]="company.companyAddress" class="form-control">
        </div>
        <div class="col-6">
          <label for="companyCity">Ciudad:</label>
          <input [disabled]="createUpdate" #companyCity="ngModel"  name="companyCity" type="text"  placeholder="Ciudad" [(ngModel)]="company.companyCity" class="form-control">
        </div>
        </div>
        <div class="row">
        <div class="col-6">
        <label for="companyWebSite">Sitio web:</label>
        <input [disabled]="createUpdate" #companyWebSite="ngModel"  name="companyWebSite" type="text"  placeholder="misitio.com" [(ngModel)]="company.companyWebSite" class="form-control">
        </div>
        <div class="col-6">
        <label for="companyEmail">Email:</label>
        <input email [disabled]="createUpdate" #companyEmail="ngModel"  name="companyEmail" type="text" placeholder="ejemplo@ejemplo.com" [(ngModel)]="company.companyEmail" class="form-control">
      </div>
      </div>

        <label for="companyLogo">Logo:</label>
        <input [disabled]="createUpdate" #companyLogo="ngModel"  name="companyLogo" type="text"  placeholder="url"[(ngModel)]="company.companyLogo" class="form-control">

        <label for="companyDescription">Descripción:</label>
        <input [disabled]="createUpdate" #description="ngModel"  name="description" type="text"  placeholder="Mi Compañia ..." [(ngModel)]="company.companyDescription" class="form-control">
          <br>
        <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
