
<div>
<footer class ="footer">

 <div class="row">
    <div class="col-lg-6 text-left">
    <h4>Contacto</h4><br>
    <a class="email" href="#" target="_blank">info@digital.com.ar</a>
    <p> +54 351 407-7225</p>
    <p> Av. Fernando Fader 3971, Córdoba, Argentina.</p>
    </div>
    <div class="col-lg-6 social-icons">
      <h4 class="text-left">Seguinos</h4><br>
      <a href="https://www.instagram.com/tycon_software/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/BIZUIT" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/pages/BIZUIT-Agile-Business-Suite/42146614834?fref=ts" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.linkedin.com/company/qvix-solutions/about/" target="_blank"><i class="fab fa-linkedin-in"></i></a>

    </div>

  </div>
  <p>©2020 by Digital</p>

</footer>
</div>
