

<div class="container">
  <h2 class="title-form text-center">Contacto</h2>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="First name">Nombre</label>
        <input type="text" class="form-control" placeholder="Escriba su nombre"required>
        <label for="Last name">Apellido</label>
        <input type="text" class="form-control" placeholder="Escriba su apellido"required>
        <label for="exampleFormControlTextarea1">Escriba su mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    <div class="col-lg-6"></div>
  </div>
<div>
