<div class="container">
<div *ngIf="showCompanies" class=container>
  <h3>Empresas</h3>
  <div class="card-columns">
    <div class="card"*ngFor="let company of companies">
      <card2 [company]="company" (click)="getCompany(company)"></card2>
    </div>
  </div>

</div>

<div *ngIf="showCompany">
  <div>
    <!-- boton para volver  -->
    <button type="button" (click)="onClickButton()" class="btn btn-dark">Volver a empresas</button>
  </div>
  <br>
  <!-- empresa (img y datos) -->
  <div class="media">
    <img [src]="company.companyLogo | notImage" class="mr-3"  width=300px height=300px >
    <div class="media-body">
      <hr>
      <h3 class="mt-0">{{company.companyName}}</h3>
      <p>{{company.companyDescription}}</p>
      <p>Fecha de fundación: {{date.getDay()+1}}/{{date.getMonth()+1}}/{{date.getFullYear()}}</p>
      <p>Domicilio: {{company.companyAddress}}</p>
      <p>Ciudad: {{company.companyCity}}</p>
      <p>Sitio web: <a href="{{company.companyWebSite}}"><p>{{company.companyWebSite}}</p></a></p>
      <p>Email: {{company.companyEmail}} </p>
      <p>Teléfono: {{company.companyPhone}}</p>
    </div>
  </div>
</div>

