<div class="main-container">
  <h3>Productos</h3>
  <div class="row">

    <div class="col-md-5">
      <input type="text" [(ngModel)]="search" name="search" placeholder="Empresa" (keyup.enter)="searchProducts()">
      <button type="button" class="btn btn-sm btn-success" (click)="create()"><i class="fas fa-plus-circle"></i></button>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let prodcutTable of products">
            <td>{{prodcutTable.productName}}</td>
            <td>{{getcode(prodcutTable.currencyId)}} {{prodcutTable.productPrice}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(prodcutTable.productid)"><i class="far fa-trash-alt"></i></button>
              <button type="button" class="btn btn-sm btn-primary" (click)="Update(prodcutTable.productid)"><i class="far fa-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <form #f="ngForm" (ngSubmit)="submit(f)">

        <label for="productName">Nombre:</label>
        <input [disabled]="createUpdate" #name="ngModel" type="text" name="name" [(ngModel)]="product.productName" class="form-control" required minlength="3">

          <div *ngIf="!name.valid && name.touched" class="alert alert-danger">
            <div *ngIf="name.errors.required" >El nombre es requerido</div>
            <div *ngIf="name.errors.minlength" >
              El nombre debe tener al menos {{name.errors.minlength.requiredLength}} letras
            </div>
          </div>


          <label for="productDescription">Descripcion:</label>
          <input [disabled]="createUpdate" #description="ngModel"  name="description" type="text" [(ngModel)]="product.productDescription" class="form-control">

          <label for="productLogo">Logo del producto:</label>
          <input [disabled]="createUpdate" #logo="ngModel"  name="logo" type="text" [(ngModel)]="product.productLogo" class="form-control">

          <label for="productWebSite">sitio web de referencia:</label>
          <input [disabled]="createUpdate" #webSite="ngModel"  name="webSite" type="text" [(ngModel)]="product.productWebSite" class="form-control">

          <label for="companyId">Compañia:</label>
          <select id="selectCompany"  [(ngModel)]="companiesProd"  [disabled]="createUpdate" #company  name="company" class="form-control" >
            <option [value]="company.companyId" *ngFor="let company of companies">{{company.companyName}}</option>
          </select>


          <div class="row">
            <div class="col-6">
              <label for="currencyId">Tipo de moneda:</label>
              <select id="selectCurrency"  [disabled]="createUpdate"  [(ngModel)]="currencyProd"  #currency  name="currency" class="form-control" >
                <option *ngFor="let currency of currencies" [value]="currency.currencyId">{{currency.currencyCode}}</option>
              </select>

            </div>
            <div class="col-6">
                <label for="productPrice">Precio:</label>
                <input [disabled]="createUpdate" #price="ngModel"  name="price" type="number" min="0" placeholder="00,00" [(ngModel)]="product.productPrice" class="form-control">
            </div>
          </div>

            <label for="categoryID">Categorias:</label>
            <select id="selectCategory" #category name="category" class="form-control" *ngFor="let item of product.categoryID; let i=index">
              <option  *ngFor="let category of categories"  (click)="categoryProduct(product,category.categoryId)">{{category.categoryName}}</option>
              <button type="button" class="btn btn-light  round" (click)="remove(product,i)"><i class="far fa-minus-square red"></i></button>
            </select>
            <button type="button" class="btn btn-light  round" (click)="add(product)"><i class="fas fa-plus-circle green"></i></button>

          <br>
        <button class="btn btn-primary" [disabled]="!f.valid">Sumit</button>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

