.form-control.ng-touched.ng-invalid{
  border: 2px solid red;
}

button{
  float: right;
  right: 0px;
  margin: 10px;
}


.center{
  margin-top: 20px;
  left: 0px;
}

round {
  border-radius: 10px;
}
