<div *ngIf="showCategories" class="card-columns">
  <div class="card"*ngFor="let category of categories" (click)="getSubcategories(category.categoryId)">
    <img [src]="category.categoryLogo | notImage" class="card-img-top">
    <div   class="card-body">
      <h5  class="card-title" >{{category.categoryName}}</h5>
    </div>
  </div>
</div>

<div *ngIf="showSubcategories" class="card-columns">
  <div class="card"*ngFor="let sb of subcategories">
    <img [src]="sb.categoryLogo | notImage" class="card-img-top" (click)="getProducts(sb.categoryId)">
    <div  class="card-body">
      <h5  class="card-title" >{{sb.categoryName}}</h5>
    </div>
  </div>
</div>

<div *ngIf="showProducts" class="card-columns">
  <div class="card"*ngFor="let product of products">
    <img [src]="product.productLogo | notImage" class="card-img-top">
    <div  class="card-body">
      <h5  class="card-title" >{{product.productName}}</h5>
      <p class="card-text" >{{product.productDescription}}</p>
    </div>
  </div>
</div>

