<div class="main-container">
  <h3>Moneda</h3>
  <div class="row">

    <div class="col-md-5">
      <input type="text" [(ngModel)]="search" name="search" placeholder="Dolar" (keyup.enter)="searchCurrency()">
      <button type="button" class="btn btn-sm btn-success" (click)="create()"><i class="fas fa-plus-circle"></i></button>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Descripcion</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let currencyTable of currencies">
            <td>{{currencyTable.currencyCode}}</td>
            <td>{{currencyTable.currencyDescription}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(currencyTable.currencyId)"><i class="far fa-trash-alt"></i></button>
              <button type="button" class="btnbtn-sm  btn-primary" (click)="Update(currencyTable.currencyId)"><i class="far fa-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 center">
      <form #f="ngForm" (ngSubmit)="submit(f)">
          <label for="currenCode">Codigo de la moneda:</label>
          <input [disabled]="createUpdate" #code="ngModel" type="text" name="code" [(ngModel)]="currency.currencyCode" class="form-control" required minlength="3">

          <div *ngIf="!code.valid && code.touched" class="alert alert-danger">
            <div *ngIf="code.errors.required" >El codigo es requerido</div>
            <div *ngIf="code.errors.minlength" >
              El codigo debe tener al menos {{code.errors.minlength.requiredLength}} letras
            </div>
          </div>

          <label for="currencyDescription">Descripcion:</label>
          <input [disabled]="createUpdate" #description="ngModel"  name="description" type="text" [(ngModel)]="currency.currencyDescription" class="form-control">

          <br>
        <button class="btn btn-primary" [disabled]="!f.valid">Sumit</button>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
