<div class="main-container">
  <div class="row">

    <div class="col-md-5">
      <button type="button" class="btn btn-success"><i class="fas fa-plus-circle"></i></button>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#Id</th>
            <th scope="col">Codigo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>prueba</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="delete(1)"><i class="far fa-trash-alt"></i></button>
              <button type="button" class="btn btn-primary "><i class="far fa-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 center">
      <form #f="ngForm" (ngSubmit)="submit(f)" >
          <label for="currenCode">Codigo de la moneda:</label>
          <input #code="ngModel" type="text" name="code" [(ngModel)]="currency.currencyCode" class="form-control" required minlength="3">

          <div *ngIf="!code.valid && code.touched" class="alert alert-danger">
            <div *ngIf="code.errors.required" >El codigo es requerido</div>
            <div *ngIf="code.errors.minlength" >
              El codigo debe tener al menos {{code.errors.minlength.requiredLength}} letras
            </div>
          </div>

          <label for="currencyDescription">Descripcion:</label>
          <input #description="ngModel"  name="description" type="text" [(ngModel)]="currency.currencyDescription" class="form-control">

          <br>
        <button class="btn btn-primary" [disabled]="!f.valid">Sumit</button>
      </form>
    </div>
  </div>
</div>

